<%= require('./partials/header.ejs')({title: 'contact'}) %>

<h1>Hello, world!</h1>
<% for(let i=0; i<5; i++){ %>
<a href="#" class="btn btn-light">btn</a>
<% }%>

<%= require('./partials/footer.ejs')() %>